/*------------------------------
 * 首页样式
 * ======
 *
 * 问题
 * ---
 * Q1: logo使用a标签是否合适;
 * Q2: 首页导航页面结构是否合理;
 * Q3: a标签右边框是否可以简化;
------------------------------*/

/* header-logo */
#logo {
	width: 108px;
	height: 45px;

	margin-top: 5px;

	background: url(../img/logo_274*118.png) no-repeat;
	background-size: 108px 45px;
}

/* header-导航 */
#header .nav {
	margin-top: 30px;	
}

.nav a {
	border-right: 1px solid;
	padding: 0px 4px;	
}

.nav a:last-child {
	border-right: none;
}

.tags a {
	margin-right: 2px;
}


/* 个人信息 */
#profile {
	position: relative;
	background-color: #FFF;
	border-radius: 0px 0px 15px 15px;
	margin-bottom: 5px;
}

#profile .pro-img {
	width: 100%;
	height: 200px;
	background: url(../img/profile-image_440*200.png) no-repeat;
	background-size: 400px 200px;
}

#profile .pro-icon { /*相对profile进行绝对定位*/
	position: absolute;
	top: 150px;
	left:42.5%;

	width: 60px;
	height: 60px;
	border-radius: 60px;
	
	background: url(../img/profile-icon_45*45.png) no-repeat;
	background-size: 60px 60px;
}

#profile .pro-info {
	margin-top: 30px;
	padding-bottom: 15px;
	text-align: center;
}