/* 
 * 初始化以及设置基础样式
 * ==================
 *
 *
 * 字体设置
 * ------—-
 * 
 *
 * @author James Yu
 * @created 2015.11.16
 * @updated 2015.11.16
 */

* {
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	font-weight: normal;
}

html, body {
	height: 100%;
	overflow-x:hidden;
}

ul {
	list-style: none;
}

img {
	border-style: none;
}

hr {
	height:0px; border-top:1px solid #B2B2B2; border-right:0px; border-bottom:0px; border-left:0px;	
}

a:link {
	text-decoration:none;
	color: #000;
}
a:hover {
	text-decoration:underline;
	color: #000;
}
a:active{
	text-decoration:none;
	color: #000;
}
a:visited {
	text-decoration:none;
	color: #000;
}

.clear {
	clear: both;
}

