/*------------------------------
 * 首页-文章信息
 * 问题：
 * 待解决：
   1. 检验sublime jshint
   2. sublime 如何删除插件
------------------------------*/
#body {
	margin-top: 50px;
}

#detail {
	margin: 0px auto;
	width: 80%;
}

.d-header {
	margin-top: 10px;
}

.d-header span, .d-footer span {
	margin-right: 10px;
}

.d-title {
	display: block;
	float: left;
	margin-bottom: 5px;
	margin-top: 10px;
	font-size: 18px;
}

.d-date, .d-author {
	display: block;
	float: right;
	margin-top: 5px;
	font-size: 12px;
}

.d-content p {
	margin: 10px 0px;
	text-indent: 2em;
	font-size: 14px;
	line-height: 25px;
}

.d-footer {
	margin-bottom: 10px;
}

.d-read, .d-store {
	display: block;
	float: left;
	margin-top: 5px;
}

.d-share {
	float: right;
	margin-top: 5px;
}

.d-footer b {
	display: block;
	float: right;
	margin: 0px 2px;
	width: 9px;
	height: 9px;
	border: 1px solid #ccc;
}