
.container {
	background-color: #F3F3F3;
	width: 100%;
}

/* 
 * 首页样式
 * ======
 *
 * 问题
 * ---
 * Q1: logo使用a标签是否合适;
 * Q2: 首页导航页面结构是否合理;
 * Q3: a标签右边框是否可以简化;
 */

/* 首页-header */
#header {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 999;

	width: 100%;
	height: 50px;

	background-color: #FFF;
}
/* 首页-header-logo */
#logo {
	float: left;

	width: 108px;
	height: 45px;

	margin-top: 5px;

	background: url(../img/logo_274*118.png) no-repeat;
	background-size: 108px 45px;
}

/* 首页-header-nav */
#header .nav {
	float: right;
	margin-top: 32px;	
}

.nav a{
	float: left;
	border-right: 1px solid;
	font-size: 14px;
	padding: 0px 4px 0px 4px;	
}

.nav a:last-child {
	border-right: none;
}

/* 文章列表-header-title */
#header .back {
    width: 50px;
    height: 50px;
    position: absolute;
    line-height: 50px;
    text-align: center;
}

#header .title {
	height: 50px;
	line-height: 50px;
    text-align: center;
    font-size: 14px;
    margin: 0px 50px 0px 50px;
}

#header .link {
	width: 50px;
    height: 50px;

	position: absolute;
    top: 0px;
    right: 0px;

    line-height: 50px;
    text-align: center;
}


#header hr {
	clear: left;
	height:0px; border-top:1px solid #B2B2B2; border-right:0px; border-bottom:0px; border-left:0px;
}

/* 首页-个人信息 */
#profile {
	position: relative;
	background-color: #FFF;
	border-radius: 0px 0px 15px 15px;
}

#profile .pro-img {
	margin-top: 50px; 
	width: 100%;
	height: 200px;
	background: url(../img/profile-image_640*400.jpg) no-repeat;
}

#profile .pro-icon { /*相对profile进行绝对定位*/
	position: absolute;
	top: 150px;
	left:42.5%;

	width: 60px;
	height: 60px;
	border-radius: 60px;
	border-style: dotted;
	
	background: url(../img/profile-icon_45*45.png) no-repeat;
	background-size: 60px 60px;
}

#profile .pro-info {
	margin-top: 30px;
	padding-bottom: 15px;
	text-align: center;
}

.pro-info span {
	font-size: 15px;
}


/* 首页-文章信息 */
#article {
	margin: 6px 6px;
	background-color: #F3F3F3;
}

.art-list li {
	height: 50px;
	border-radius: 5px;
	margin-bottom: 5px;
	background-color: #FFF;
}

.art-list span {
	width: 75%;
	float: left;

    padding: 20px 0px 0px 20px;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.art-list b { /* 为什么需要特殊强调 */
	font-size: 14px;
	font-weight: bold;
}

.art-list img {
	float: right;

	width: 50px;
	height: 50px;

	background: url(../img/css-icon_460*460.png) no-repeat;
	background-size: 50px 50px;
}

/* 首页-联系方式 */
#contact {
	width: 100%;
	height: 100px;
	margin-bottom: 5px;
	background-color: #FFF;
}

.con-info {
	float: left;R
	padding-top: 10px;
	padding-left: 5px;
}

.con-info span {
	display: block;
	padding-top: 12px;
}

.weixin {
	float: right;
	padding-right: 5px;

	width: 100px;
	height: 100px;
	background: url(../img/weixin_57*57.png) no-repeat;
	background-size: 100px 100px;
}

/* 文章列表-广告 */
.ad-swap {
	margin-top: 50px;
	width: 100%;
	height: 180px;
	background: url(../img/article/ad-swap-01_640x400.png) no-repeat;
}




