/*------------------------------
 * 路图-瀑布流
 *
 * @author James Yu
 * @created 2015.12.03
 * @updated 2015.12.03
------------------------------*/

#view { /* 374 */
	position: relative;
	margin-left: 1px;
	background-color: #F3F3F3;
}

.box { /* 374-4=370 */
	float: left;
	margin: 2px 0px 0px 2px;
	border: none;
}

.box .content { /* 370-20=350 */
	padding: 4px;
	border: 1px solid #ccc;
}

.box img { /* 350/2=175*/
	width: 145px;
	height: auto;
}





